@using Microsoft.AspNetCore.Identity
@using MyProject.Model
@using Microsoft.AspNetCore.Http

@page "/"
@inject UserManager<User> userManager
@inject IHttpContextAccessor httpContextAccessor

@code {

    private string user_name;

    protected override async Task OnInitializedAsync()
    {

        user_name = "Guest";

        var context = httpContextAccessor.HttpContext; //instead of making multiple requests, make one request

        if (context != null && context.User.Identity != null && context.User.Identity.IsAuthenticated)
        {
            var currentUser = await userManager.GetUserAsync(context.User); //userManager is responsible for information based on a user, getuserasync retrives information basied off of context.User as it represents the authenticated user

            if (currentUser != null)
            {
                user_name = currentUser.UserName; // ASP.NET Core identity name retrieval
            }
        }

    }

}



<PageTitle>Home</PageTitle>

<h1 class="custom-primary-white-text-color">Hello, @user_name.</h1>

