@using MyProject.Context
@using MyProject.Model;
@using Microsoft.AspNetCore.Http @*For retrieving client ID*@
@using Microsoft.AspNetCore.Identity @*For retrieving client ID*@
@using Microsoft.AspNetCore.Components.Authorization @*Page only accessible by those authorized*@
@inherits LayoutComponentBase


@inject UserManager<User> userManager;
@* Post provider allows for me to access the functions in PostProvider *@
@inject PostCommentProvider PostCommentProvider;
@inject NavigationManager NavigationManager;
@inject UserManager<User> userManager;
@*For retrieving client ID*@
@inject IHttpContextAccessor httpContextAccessor;
@*For retrieving client ID*@

<form>
    <div class="mb-3">
        <label for="Username" class="form-label custom-primary-white-text-color">Username</label>
        <input type="text" class="form-control" id="searchReference" aria-describedby="searchReference">
        <div id="serchReference" class="form-text">Enter the username to search.</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@{
    if (userFound == true)
    {
        <div class="card" style="width: 18rem; margin: 1rem auto; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 8px;">
            <div class="card-header" style="background-color: #007bff; color: white; font-weight: bold; text-align: center;">
                User Details
            </div>
        </div>
    }
}


@code{
    private User searchUsername;
    private bool userFound;

    private async Task SearchUser()
    {
        var user = await userManager.FindByNameAsync(searchUsername.UserName);
        if (user != null)
        {
            userFound = true;
            return;
        }
        else
        {
            userFound = false;
            return;
        }
    }

}